.modal {
  width: 80%;
  margin-top: 5vh;

  .zoom-controller {
    margin-left: 1.5vh;
    accent-color: #999;
    cursor: pointer;
  }

  .zoom-controller::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  .modal-body {
    padding: 20px 30px 23px 30px;
    height: auto;
    max-height: 75vh;
  }

  @media only screen and (max-width: 900px) {
    .modal-body {
      max-height: 65vh;
    }
  }
}

#gridContainer {
  display: grid;
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  gap: 15px;

  .wrapper {
    width: 100%;
    height: auto;
    max-height: 260px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      transition: all 100ms ease-out;
      border-radius: 4px;
    }

    img:hover {
      cursor: zoom-in;
      transform: scale(1.02);
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

#primary-img {
  .modal-body {
    padding: 0 !important;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 75vh;
  }

  @media only screen and (max-width: 900px) {
    img {
      max-height: 65vh;
    }
  }
}

.zoom-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  button {
    font-size: 20px;
    border: 1px solid black;
    margin-left: 5px;
    padding: 6px;
    background: white;
    text-align: center;
    color: black;
    z-index: 1;
    border-radius: 50%;
  }

  button:hover {
    background-color: #c5c5c5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.container {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 75vh;
  max-height: 75vh;
  border-radius: 0 0 14px 14px;
}

@media only screen and (max-width: 900px) {
  .container {
    min-height: 65vh;
    max-height: 65vh;
  }
}

.p-0 {
  padding: 0 !important;
}
